.appPage {
    margin: 0;
    background: var(--Slate-100);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content {
        display: flex;
        flex-direction: row;
        width: 800px;
        background: var(--White);
        height: 500px;
        border-radius: 0.8rem;
    }
}